.boxShot, .lockup {
	position: relative;
}
.boxShot .stbrMaskBg, .lockup .stbrMaskBg {
	position: absolute;
	margin: 3px 0 0 5px;
}

.agMovieSet .stbrMaskBg, .agMovieSet .stbrMaskFg, .lockup .stbrMaskBg, .lockup .stbrMaskFg {
	background-image: url('http://cdn-0.nflximg.com/en_us/layout/ratings/starbar_unified_density.png') !important;
}


.showMore {
	clear: both;
	float: none;
	display: block;
	width: 30%;
	background-color: #C01C00;
	color: #fff;
	text-align: center;
	font-weight: bold;
	line-height: 1;
	padding: 7px 10px;
	margin: 10px auto 0;
	cursor: pointer;
}

#page-Kids .characterRow .agMovieSet {
	overflow: visible;
	height: auto !important;
}
.characterRow .truncated {
	max-height: 230px;
}

.subset {
	max-width: 100%;
	max-height: 250px;
	overflow: hidden;
}

.truncated {
	max-height: 250px;
	overflow: hidden;
}

div.evidence {
	max-width: 166px;
}

div.recentlyWatched {
	max-width: 166px;
}